:root{
    --primary-color: #4a1ca3;
    --secondary-color: #ff6c2b;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    background-color: var(--primary-color);
}

ul{
    display: flex;
    justify-content: center;
}

li{
    margin: 0px 20px;
}

img{
    width: 200px;
}

a{
    color: white;
    text-decoration: none;
}

