*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(231, 239, 243);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.box{
    background-color: aliceblue ;
    display: flex;
    flex-direction: column;
    padding:25px 25px ;
    border-radius: 20px ;
    box-shadow: 0 0 5px 0,
                0 16px 32px -48px;
               

}
.box-form{
    width: 400px;
    height: 0 10px;

}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(194, 209, 223);
}
.form-box .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.field input {
    height: 40px;
    width: 100%; ;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 10px;
    border:1px solid  rgb(194, 209, 223);
    outline: none;

}
.btn{
    height: 35px;
    background-color: rgb(150, 193, 223);
    border: 0;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0 10px;


}
.link{
    margin-top: 15px;



}
