.alert-success{
    width: 100%;
    background-color: #dcf2cf;
    text-align: center;
    font-size: 15px;
    padding: 5px 0px;
}

.alert-failure{
    width: 100%;
    background-color: #f2d1da;
    text-align: center;
    font-size: 15px;
    padding: 5px 0px;
}

.message{
    width: 100%;
    text-align: center;
    background-color: #dcf2cf;
}